.list{
    background-color: rgba(255, 192, 203, 0.753);
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: baseline;
    margin-top: 2rem;
}

.list h3{
    color: rgb(121, 56, 10) ;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .list li{
      list-style: auto;
      color:rgba(76, 0, 130, 0.623) ;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 1rem ;
      margin-bottom: 5px;
  }