.semaforo{
    width: 300px;
    height: 400px;
    background-color: blue;
}
.redondo{
    border-radius: 50%;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}